services:
  db:
    image: 'mariadb:latest'
    environment:
      - 'MARIADB_DATABASE=iis_db'
      - 'MARIADB_ROOT_PASSWORD=test'

  app:
    build: .
    depends_on:
      - db
    environment:
      - 'DATASOURCE_URL=mariadb://db:3306/iis_db'
      - 'DATASOURCE_USERNAME=root'
      - 'DATASOURCE_PASSWORD=test'
      - 'SERVER_PORT=7777'
      - 'JWT_SECRET=4hUVmijYIGcv8yxGZfmALOzyRclTqZEkVesKt9L86v4JzMvN'
      - 'SPRING_PROFILES_ACTIVE=dev'
      - 'ALLOWED_ORIGINS=https://iis-app.vercel.app'
    ports:
      - '0.0.0.0:7777:7777'