info:
  title: IIS Server
  description: The implementation of the IIS server.
  version: 1.0.0

openapi: 3.0.0

components:
  schemas:
    Role:
      type: string
      enum:
        - ADMIN
        - USER
    User:
      type: object
      properties:
        id:
          type: integer
        username:
          type: string
        name:
          type: string
        role:
          $ref: '#/components/schemas/Role'
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: integer
  responses:
    JwtResponse:
      description: Used to return JWT token.
      content:
        application/json:
          schema:
            type: object
            properties:
              token:
                type: string

paths:
  /auth/login:
    post:
      summary: Login user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
      responses:
        '200':
          $ref: '#/components/responses/JwtResponse'
  /auth/register:
    post:
      summary: Register user.
      parameters:
        - name: createSession
          in: query
          required: false
          schema:
            type: boolean
            description: Whether to create a session upon registration.
            default: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
                name:
                  type: string
      responses:
        '200':
          $ref: '#/components/responses/JwtResponse'
  /auth/logout:
    post:
      summary: Logout user.
      responses:
        '200':
          description: Successfully logged out.
  /users/me:
    get:
      summary: Get current user.
      responses:
        '200':
          description: Current user information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
  /users/{id}:
    delete:
      summary: Delete user by ID.
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: User deleted successfully.
        '403':
          description: Forbidden. Only ADMIN can delete users.
  /users/{id}/role:
    put:
      summary: Update user's role.
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  $ref: '#/components/schemas/Role'
      responses:
        '200':
          description: User role updated successfully.
        '403':
          description: Forbidden. Only ADMIN can update user roles.